# Exclude development-only files from Composer ZIP exports

.phpunit.result.cache export-ignore
phpunit.xml export-ignore
tests/ export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.github/ export-ignore
.idea/ export-ignore
Pest.php export-ignore
